# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: 3306
    database_name: database_name
    database_user: root
    database_password: ~
    database_charset: utf8mb4
    database_collation: utf8mb4_general_ci

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    secret: ThisTokenIsNotSoSecretChangeIt
    project_name: 'Portal X'
    organization_name: 'Company Ltd.'
    organization_url: 'https://example.org'
    logo_url: 'https://example.org/logo.png'
    favicon_url: 'https://example.org/favicon.ico'
    sender_email: 'info@example.com'
    sender_name: 'John Doe'
